**

!Cargo.toml
!Cargo.lock

!crates/
!crates/**

!apps/
!apps/localmessenger_server/
!apps/localmessenger_server/**
!apps/tauri-client/
!apps/tauri-client/src-tauri/
!apps/tauri-client/src-tauri/Cargo.toml

!docker/
!docker/Dockerfile
!docker/entrypoint.sh
